<div class="row">
    <div class="col-md-12">
        <div class="login-container">
            <div class="login-box animated fadeInDown">
                <!--<div class="login-logo"></div>-->
                <div class="login-body" style="position: relative;">
                    <!-- START waiting window  -->
                      <div class="container-popup" ng-show="showSpin" >
                           <div class="popup">
                              <img src="styles/images/spinImage.gif"/>
                           </div>
                       </div>
                      <!-- END waiting window  -->
                    <div class="login-title">
                        <strong>Welcome</strong>, Please login</div>
                    <form class="form-horizontal" kendo-validator="validator" ng-submit="onLogin($event)">
                    <div class="form-group">
                        <div class="col-md-12 required" for="Username">
                            <input type="text" ng-model="userCredential.emailId" placeholder="Email Id" class="form-control" name="Username"
                                required data-required-msg="Please enter Username." >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 required" for="Password">
                            <input type="password" ng-model="userCredential.password" placeholder="Password" class="form-control"  name="Password"
                                required data-required-msg="Please enter Password.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a class="btn btn-link btn-block" href="#forgotPassword">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block"  type="submit" value="Login">Log In</button>
                        </div>
                        <span class="error-msg" ng-show="userCredential.invalidCredential"> Invalid username or password.</span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
