<div class="row">
    <div class="col-md-12">
        <div class="login-container">
            <div class="login-box animated fadeInDown">
                <!--<div class="login-logo"></div>-->
                <div class="login-body" style="position: relative;">
                    <!-- START waiting window  -->
                      <div class="container-popup" ng-show="showSpin" >
                           <div class="popup">
                              <img src="styles/images/spinImage.gif"/>
                           </div>
                       </div>
                      <!-- END waiting window  -->
                    <div class="login-title">
                        Reset password</div>
                    <form class="form-horizontal" kendo-validator="validator" ng-submit="onSubmitRestPassword($event)">
                    <div class="form-group">
                        <div class="col-md-12 required" for="Password">
                            <!--<input type="text" ng-model="resetPasswordInfo.newPassword" placeholder="Enter new password" class="form-control"  name="Password"
                                required data-required-msg="Please enter Passrod.">-->

                            <input type="password" name="Password" class="form-control" ng-model="resetPasswordInfo.newPassword" placeholder="Enter new password"
                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,10}$" required data-required-msg="Please enter new password."
                                    validationmessage="Please enter a password which is minimum 6 and maximum 10 characters with atleast 1 lowercase,1 uppercase and 1 numeric value." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6" style="float: right;">
                            <button class="btn btn-info btn-block"  type="submit" ng-disabled="resetPasswordInfo.showMessage" value="submit" >Submit</button>
                        </div>
                       
                    </div>
                        <div ng-show="resetPasswordInfo.showMessage">
                         <span class="error-msg" > {{resetPasswordInfo.message}}</span>
                         <a href="#/login">Click for login</a>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
