<div class="page-content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 panel-col">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="block">
                            <!-- START waiting window  -->
                            <div class="container-popup" ng-show="showSpin">
                                <div class="popup">
                                    <img src="styles/images/spinImage.gif" />
                                </div>
                            </div>
                            <!-- END waiting window  -->
                            <error-window option="errorWindowOption"></error-window>
                            <a style="float: right; margin: 7px 5px;" href="#organization/1">Add New Organization</a>
                            <custom-grid grid-data="organizationList" cols="columnDefs" selected-items="selectedItems"
                                custom-options="gridOptions" show-spin="showSpin" papulate-grid="papulateGrid"
                                action-handler="onActionClick(actionObject)">
                            </custom-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
