<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 panel-col">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- START CUSTOM CODE -->
                        <div class="block">
                            <!-- START waiting window  -->
                            <div class="container-popup" ng-show="showSpin">
                                <div class="popup">
                                    <img src="styles/images/spinImage.gif" />
                                </div>
                            </div>
                            <!-- END waiting window  -->
                            <form class="form-horizontal" kendo-validator="validator" ng-submit="onSubmit($event)">
                            <!-- START confirm window  -->
                                <confirm-window option="confirmWindowOption" action-handler="confirmActionHandler(actionType,isConfirmed)"></confirm-window>
                            <!-- END conform window  -->
                            <error-window option="errorWindowOption"></error-window>
                            <div class="form-group">
                                <label class="col-md-2 control-label required" for="Period Title">
                                    Title
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" ng-model="periodInfo.title" name="Period Title"
                                        pattern=".{1,100}" required data-required-msg="Please enter period title." validationmessage="Period title should be less than 100 characters." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label required" for="StartDate">
                                    Start Date</label>
                                <div class="col-md-2">
                                    <input type="text" data-role='datepicker' id="StartDate" data-type="date" name="StartDate"
                                        kendo-date-picker required="required" ng-model="periodInfo.startDate" ng-blur="validateDate(periodInfo.startDate,periodInfo.endDate,periodInfo.deadlineDate)" /><br />
                                    <span data-for='StartDate' ng-show="!isValidDate">Start date should not be greater than
                                        end date </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label required" for="EndDate">
                                    End Date</label>
                                <div class="col-md-2">
                                    <input type="text" data-role='datepicker' id="EndDate" data-type="date" name="EndDate"
                                        kendo-date-picker required="required" ng-model="periodInfo.endDate" ng-blur="validateDate(periodInfo.startDate,periodInfo.endDate,periodInfo.deadlineDate)" />
                                    <span data-for='EndDate' class='k-invalid-msg'></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label required" for="DeadlineDate">
                                    Deadline Date</label>
                                <div class="col-md-2">
                                    <input type="date" class="form-control" ng-model="periodInfo.deadlineDate" name="DeadlineDate"
                                        kendo-date-picker required="required" ng-blur="validateDate(periodInfo.startDate,periodInfo.endDate,periodInfo.deadlineDate)" />
                                    <span data-for='DeadlineDate' ng-show="!isValidDadeLineDate"><span class="k-icon k-warning"> </span>Deadline date should be
                                        between start date and end date.</span>
                                </div>
                            </div>
                             
                            <div class="form-group">
                                <label class="col-md-2 control-label required" for="Year">
                                    Year</label>
                                <div class="col-md-2">
                                    <select ng-model="periodInfo.year" ng-options="year for year in yearList" class="form-control select dropdown"
                                        name="Year">
                                    </select>
                                    <!--<span class="caret caretStyle"></span>-->
                                </div>
                            </div>
                            <div class="btn-group pull-right col-md-10">
                                <button type="submit" class="btn btn-primary">
                                    Add Period
                                </button>
                                <div class="col-md-1">
                                </div>
                            </div>
                            <div class="col-md-1">
                                &nbsp;
                            </div>
                            <table class="table datatable_simple table-bordered tableStyle">
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th style="text-align: center;">
                                            Start Date
                                        </th>
                                        <th style="text-align: center;">
                                            End Date
                                        </th>
                                        <th style="text-align: center;">
                                            Deadline Date
                                        </th>
                                        <th style="text-align: center;">
                                            Year
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="period in periodList">
                                        <td>
                                            {{period.title}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{period.startDate}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{period.endDate}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{period.deadlineDate}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{period.year}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" ng-click="onDelete(period)">
                                                Delete Period</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </form>
                            <!-- <a style="float: right; margin: 7px 5px;" href="#course/1">Add New Period</a>-->
                            <!--<custom-grid grid-data="periodsList" cols="columnDefs" selected-items="selectedItems"
                                custom-options="gridOptions" papulate-grid="papulateGrid" action-handler="onActionClick(actionObject)">
                           </custom-grid>-->
                        </div>
                    </div>
                    <!-- END CUSTOM CODE -->
                </div>
            </div>
        </div>
    </div>
</div>
