<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 panel-col">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- START CUSTOM CODE -->
                        
                            <!--<h2>Kent State University At Trumball: Programs - <span>Add</span></h2>-->
                            <a style=" float: right; margin: 7px 5px;" href="">Add New Reports</a>
                            <!--<a href="#course/2">Edit New Course</a>-->
                            <table class="table datatable_simple table-bordered tableStyle">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="" ></a>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                    </div>
                    <!-- END CUSTOM CODE -->
                </div>
            </div>
        </div>
    </div></div>
